---
import { getPosts } from "@data/firebase";
import Layout from "@layouts/Layout.astro";
import { convertTimestamp, slugify } from "@utils/utils";

export async function getStaticPaths() {
  const posts = (await getPosts()) as FirePost[];

  return posts.map((post, i) => {
    return {
      params: { id: i + 1, slug: slugify(post.title) },
      props: post,
    };
  });
}

const post = Astro.props;
---

<Layout title={post.title}>
  <main id="FirestorePost" class="park-width">
    <section class="py-10 flex flex-col gap-2">
      <a
        href="/blog/firebase"
        class="px-5 rounded-lg w-max mb-4 hover:bg-blue-600 py-1.5 bg-blue-500 text-white"
        >Back</a
      >
      <h1 class="text-3xl font-semibold text-blue-500">{post.title}</h1>
      <p class="py-1 px-2 text-xs text-gray-50 bg-blue-500/10 w-max rounded">
        Published on
        {convertTimestamp(post.created_at)}
      </p>
      <p class="text-gray-50">{post.content}</p>
    </section>
  </main>
</Layout>
