---
import Layout from "@layouts/Layout.astro";

import { Posts } from "@data/posts";
import { randomDate, slugify } from "@utils/utils";
export async function getStaticPaths() {
  return Posts.map((post, i) => {
    return {
      params: { id: i + 1, slug: slugify(post.title) },
      props: post,
    };
  });
}

const { title, author } = Astro.props;
---

<Layout title={title}>
  <main id="PostPage" class="park-width">
    <a
      href="/"
      class="px-5 rounded-lg mt-20 w-max hover:bg-blue-600 py-1.5 bg-blue-500 text-white"
      >Back</a
    >
    <article class="mt-10">
      <div
        class="mb-4 md:mb-0 w-full mx-auto relative z-0"
        style="height: 24em;"
      >
        <div
          class="absolute left-0 bottom-0 w-full h-full z-10"
          style="background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.7));"
        >
        </div>
        <img
          src="https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80"
          class="absolute left-0 top-0 w-full h-full z-0 object-cover"
        />
        <div class="p-4 absolute bottom-0 left-0 z-20">
          <a
            href="#"
            class="px-4 py-1 bg-black text-gray-200 inline-flex items-center justify-center mb-2"
            >Astro</a
          >
          <h2 class="text-4xl font-semibold text-gray-100 leading-tight">
            {title}
          </h2>
          <div class="flex mt-3">
            <img
              src="https://randomuser.me/api/portraits/men/97.jpg"
              class="h-10 w-10 rounded-full mr-2 object-cover"
            />
            <div>
              <p class="font-semibold text-gray-200 text-sm">{author}</p>
              <p class="font-semibold text-gray-400 text-xs">
                {randomDate()}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="px-4 lg:px-0 mt-12 dark:text-gray-200 text-gray-700 mx-auto text-lg leading-relaxed"
      >
        <p class="pb-6">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quia
          modi deserunt delectus laudantium repudiandae eos omnis atque adipisci
          quidem?
        </p>

        <p class="pb-6">
          Inventore libero reiciendis maiores tenetur, quod expedita assumenda
          natus?, fugiat aspernatur nemo voluptatum est vero numquam, optio
          molestiae hic distinctio aliquam laudantium maiores obcaecati voluptas
          officia fugit rem dolore natus? Ipsum, dolore magni? Quidem natus
          obcaecati ducimus nisi illo incidunt.
        </p>

        <div class="border-l-4 border-gray-500 pl-4 mb-6 italic rounded">
          Quisquam unde et nam e dolor sit, amet consectetur adipisicing elit.
          Non, ad tempore soluta a qui animi? Quae?
        </div>

        <p class="pb-6">
          Amet consectetur adipisicing elit. Corrupti modi asperiores quis
          impedit iusto laborum fugiat accusantium praesentium repellat nostrum
          pariatur aspernatur ab, aliquam nobis voluptate cupiditate aut
          quisquam deleniti explicabo voluptas, sequi dolorum suscipit?
          Repudiandae rerum, doloremque omnis, dicta tempora ullam eligendi
          excepturi iure aliquid necessitatibus iusto et laborum nostrum dolore
          nihil reiciendis magnam, praesentium quae rem facilis vero cum. Id,
          doloremque eaque soluta assumenda possimus ad debitis odio?
        </p>
      </div>
    </article>
  </main>
</Layout>
