---
import NewsList from "@components/NewsList.astro";
import PostCard from "@components/PostCard.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Welcome to Park">
  <main id="HomePage" class="park-width">
    <!-- HERO -->

    <!-- LATEST -->
    <section class="latest">
      <a
        rel="noopener noreferrer"
        href="#"
        class="block max-w-sm gap-3 mx-auto sm:max-w-full group hover:no-underline focus:no-underline lg:grid lg:grid-cols-12 dark:bg-gray-900"
      >
        <img
          src="https://source.unsplash.com/random/480x360"
          alt=""
          class="object-cover w-full h-64 rounded sm:h-96 lg:col-span-7 dark:bg-gray-500"
        />
        <div class="p-6 space-y-2 lg:col-span-5">
          <h3
            class="text-2xl font-semibold sm:text-4xl group-hover:underline group-focus:underline"
          >
            Noster tincidunt reprimique ad pro
          </h3>
          <span class="text-xs dark:text-gray-400">February 19, 2021</span>
          <p>
            Ei delenit sensibus liberavisse pri. Quod suscipit no nam. Est in
            graece fuisset, eos affert putent doctus id.
          </p>
        </div>
      </a>
    </section>

    <!-- MORE POSTS -->
    <section class="py-6 sm:py-12">
      <div class="mx-auto space-y-8">
        <h2 class="space-y-2 text-center text-3xl font-bold">Latest Posts</h2>

        <div
          class="grid grid-cols-1 gap-x-4 gap-y-8 md:grid-cols-2 lg:grid-cols-3"
        >
          {[0.1, 2, 3].map((x) => <PostCard />)}
        </div>
      </div>
    </section>
  </main>
</Layout>

<style></style>
