---
import PostCard from "@components/PostCard.astro";
import Layout from "@layouts/Layout.astro";
import { Posts } from "@data/posts";
import { randomDate } from "@utils/date";
---

<Layout title="Welcome to Park Blog">
  <main id="HomePage" class="park-width">
    <!-- HERO -->

    <!-- LATEST -->
    <section class="latest">
      <a
        rel="noopener noreferrer"
        href=""
        class="block max-w-sm gap-3 mx-auto sm:max-w-full group hover:no-underline focus:no-underline lg:grid lg:grid-cols-12 dark:bg-gray-900"
      >
        <img
          src="https://source.unsplash.com/random/480x360"
          alt=""
          class="object-cover w-full h-64 rounded sm:h-96 lg:col-span-7 dark:bg-gray-500"
        />
        <div class="p-6 space-y-2 lg:col-span-5">
          <h3
            class="text-2xl font-semibold sm:text-4xl group-hover:underline group-focus:underline"
          >
            Thanks for checking out Astro Park!
          </h3>
          <span class="text-xs dark:text-gray-400">{randomDate()}</span>
          <p>
            This project acts as a demo to make a blog site with different
            integrations.Its main focus is integration not UI
          </p>
        </div>
      </a>
    </section>

    <!-- MORE POSTS -->
    <section class="py-6 sm:py-12">
      <div class="mx-auto space-y-8">
        <h2 class="space-y-2 text-center text-3xl font-bold">Latest Posts</h2>

        <div
          class="grid grid-cols-1 gap-x-4 gap-y-8 md:grid-cols-2 lg:grid-cols-3"
        >
          {Posts.map((post, i) => <PostCard id={i + 1} title={post.title} />)}
        </div>
      </div>
    </section>
  </main>
</Layout>

<style></style>
