---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <main id="Newsletter">
    <section class="mx-auto">
      <form action="">
        <input type="text" placeholder="Enter email" />
        <button>Subscribe</button>
      </form>
    </section>
  </main>
</Layout>
