---
interface Props extends INews {}

const props = Astro.props;
---

<div class="py-2 flex items-center gap-5 w-full">
  <p class="text-xl border-r-2 pr-5 py-1.5">
    {props.date}
  </p>

  <p class="text-xl py-2 text-blue-500 italic font-semibold">{props.title}</p>
</div>
