---
import { getPosts } from "@data/firebase";
import Layout from "@layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = (await getPosts()) as FirePost[];

  return posts.map((post) => {
    const slug = post.title.toLowerCase().replaceAll(" ", "-");
    return {
      params: { slug },
      props: post,
    };
  });
}

const post = Astro.props;
---

<Layout>
  <main id="FirestorePost" class="park-width">
    <section class="py-10 flex flex-col gap-2">
      <a
        href="/blog/firebase"
        class="px-5 rounded-lg w-max hover:bg-blue-600 py-1.5 bg-blue-500 text-white"
        >Back</a
      >
      <h1 class="text-3xl font-semibold text-blue-500">{post.title}</h1>
      <p class="text-gray-50">{post.content}</p>
    </section>
  </main>
</Layout>
