---
import { getPosts } from "@data/firebase";
import Layout from "@layouts/Layout.astro";
import { slugify } from "@utils/utils";

let posts: FirePost[] = [];

async function fetchPosts() {
  posts = (await getPosts()) as FirePost[];
}

await fetchPosts();

if (posts.length === 0) {
  // simple redirect
  return Astro.redirect("/404", "301");
}
---

<Layout title="Firestore Posts">
  <main id="FirestoreBlog" class="park-width">
    <section class="py-10">
      <h1 class="text-xl mb-2 font-bold">Firstore Posts</h1>

      <ul class="flex flex-col gap-3">
        {
          posts.map((post, i) => (
            <li>
              <a
                class="py-5 px-3 bg-gray-50/20 block"
                href={`/blog/firebase/${i + 1}/${slugify(post.title)}`}
              >
                {post.title}
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>

  <script>
    import { onChange } from "@data/firebase";
  </script>
</Layout>
