---
import "@styles/global.css";

import { setDescription, setTitle } from "@utils/utils";
import { SEO } from "astro-seo";
import type { Props as IAstroSEO } from "astro-seo";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

interface Props extends IAstroSEO {}

const { title = "", description = "", ...props } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={setTitle(title)}
      description={setDescription(description)}
      {...props}
    />

    <GoogleFontsOptimizer
      url={[
        "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap",
      ]}
    />

    <slot name="head" />
  </head>
  <body class="flex flex-col h-full dark:bg-gray-800 dark:text-gray-100">
    <Header />
    <div id="park">
      <slot />
    </div>
    <Footer />
    <style is:global>
      html {
        @apply min-h-full h-full;
      }

      body {
        font-family: Roboto, "sans-serif";
      }

      .park-width {
        @apply mx-auto max-w-screen-lg;
      }
    </style>
  </body>
</html>
